/*Import de la police d'écriture depuis googlefonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* Paramètres de bases qui s'appliquent à la page entière */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 8vh;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.indexContainer {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/The-Complete-Guide-on-Coffee-Beans-Processing.jpg");
  height: 100%; */
  background-color: #c2b4a4af;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  background-color: #0f222d;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 1rem;
  /* border-radius: 10px; */
  box-shadow: 0 15px 40px -20px black;
  /* border: 2px solid #1a120b; */
  height: 12vh;
}

.addProductContainer {
  /* justify-content: center; */
  background-color: #fcf4edd2;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  height: 16vh;
  width: 94vw;
  border-radius: 5px;
  box-shadow: 0 15px 40px -20px black;
  overflow: auto;
  justify-content: space-evenly;
}

.titreCreation {
  text-align: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #f55139;
  padding: 0 1px;
}

.formProduct {
  /* position: relative; */
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  padding: 10px;
  font-family: "Krona One", sans-serif;
  font-size: 17px;
}

.stockContainer {
  /* position: relative; */
  margin: auto;
  background-color: #fcf4edd2;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 94vw;
  height: 55%;
  border-radius: 10px;
  box-shadow: 0 15px 40px -20px black;
  justify-content: space-evenly;
}

ul {
  text-align: left;
  color: #0f222d;
  margin: 1% auto 0px 4%;
  font-size: 0.7rem;
  list-style-type: none;
  align-content: center;
  align-items: center;
}

.titre2 {
  text-align: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #f55139;
  padding: 0 1px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #0f222d;
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  box-shadow: 0 15px 40px -20px black;
  justify-content: center;
  text-align: center;
}

footer h3 {
  font-family: "Krona One", sans-serif;
  color: #f2eadf;
  font-size: small;
  font-weight: 400;
}

input,
select {
  justify-content: space-around;
  height: 5vh;
  width: 10vw;
  font-family: "Krona One", sans-serif;
  font-size: 0.4rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #f55139;
}

.btnAdd {
  background-color: #0f222d;
  border-radius: 10px;
  border: 5px #cccccc;
  font-family: "Krona One", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 0.4rem;
  padding: 8px;
  width: 10vw;
  cursor: pointer;
  margin-left: 0.5rem;
}

button {
  background-color: #0f222d;
  border-radius: 10px;
  border: 5px #cccccc;
  font-family: "Krona One", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 0.4rem;
  padding: 8px;
  width: 10vw;
  cursor: pointer;
  margin-left: 0.5rem;
}

button:hover {
  background-color: #f55139;
}

.btnAdd:hover {
  background-color: #f55139;
}

li {
  font-family: "Krona One", sans-serif;
  font-size: 12px;
  width: 95%;
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

li:first-child {
  margin-top: 0;
}

li:hover {
  background-color: #cccccc;
}

.editBtn {
  float: right;
  background-image: url(/img/edit.png);
}
.deleteBtn {
  float: right;
}
