/*Import de la police d'écriture depuis googlefonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* Paramètres de bases qui s'appliquent à la page entière */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 90px;
}

body {
  width: 100%;
  overflow: hidden;
}

.indexContainer {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/The-Complete-Guide-on-Coffee-Beans-Processing.jpg");
  height: 100%; */
  background-color: #c2b4a4af;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  background-color: #0f222d;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 1rem;
  /* border-radius: 10px; */
  box-shadow: 0 15px 40px -20px black;
  /* border: 2px solid #1a120b; */
}

.addProductContainer {
  display: flex;
  justify-content: center;
  background-color: #fcf4edd2;
  margin: auto;
  margin-top: 20px;
  height: 15vh;
  width: 94vw;
  border-radius: 5px;
  box-shadow: 0 15px 40px -20px black;
  /* border: 2px solid #3c2f2f91; */
}

h2 {
  padding: 10px;
  font-family: "Krona One", sans-serif;
  font-size: 17px;
}

.stockContainer {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  background-color: #fcf4edd2;
  margin-top: 20px;
  width: 94vw;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 15px 40px -20px black;
  /* border: 2px solid #3c2f2f91; */
}

footer {
  background-color: #0f222d;
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 15px 40px -20px black;
  /* border: 5px solid #1a120b; */
  justify-content: center;
  text-align: center;
}

footer h3 {
  font-family: "Krona One", sans-serif;
  color: #f2eadf;
  font-size: small;
  font-weight: 400;
}
